<div class="card flex justify-content-center">
  <p-sidebar  [modal]="!onSimulation" [showCloseIcon]="onSimulation" [(visible)]="sidebarVisible" position="right">
    <div class="amount-container">
      <p class="filter_titel">
        Investissement minimum
      </p>
      <div class="amount-card">
        <div class="amount-text" *ngIf="amount>0">{{ amount }}</div>
        <p-slider [(ngModel)]="amount" max="10000" styleClass="w-14rem"/>
      </div>

    </div>
    <div class="frais-sous">
      <p class="filter_titel">
        Frais de souscriptions
      </p>
      <p-toggleButton
        (onChange)="changeFees()"
        [style]="{height:'30px',width:'80px','padding-left':'24px','background-color': applyFees ? 'rgba(23,200,23,0.75)' : 'white'}"
        offLabel="Non"
        onLabel="Oui"/>
    </div>
    <p class="filter_titel">Regions</p>
    <div class="region">
      <div *ngFor="let item of regions" id="region" style="padding: 8px">
        <app-selectable-button
          #children
          (selected)="onLanguageSelected($event)"
          [image]="item.code"
          [text]="item.name">
        </app-selectable-button>
      </div>
    </div>

    <p class="filter_titel">Secteurs</p>
    <div class="sector">
      <div *ngFor="let item of sector" id="sector" style="padding: 8px">
        <app-selectable-button
          #children
          (selected)="onSectorSelected($event)"
          [icon]="item.icon"
          [text]="item.name">

        </app-selectable-button>
      </div>
    </div>
    <p-divider/>
    <div class="bottom_btn">
      <button (click)="clearFilter()" class="btn">
        <i class="pi pi-refresh" style="margin-right: 8px;"></i>
        Réinitialiser
      </button>
      <button (click)="initSearchBody()" class="btn">Rechercher</button>

    </div>
  </p-sidebar>

</div>


