.scpi-component {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 30%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  justify-content: start;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #1a2a63;
  display: flex;
}

.edit-icon {
  font-size: 16px;
  color: #1a2a63;
  margin-left: 8px;
  cursor: pointer;
}

.add-button {
  background-color: #4264FF;
  width: 25%;
  height: 40px;
  color: #F7E600;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding:10px 30px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.plus-icon {
  margin-left: 10px;
}

.content {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  width: 100%;
  height:200px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
}

.portfolio-options {
  padding: 0 0;
  display: flex;
  flex-direction: row;
  width: 38%;
  height: 20%;
  justify-content: space-between;
  justify-items: center;
}

.card {
  margin-left: 10px;
  display: flex;
  align-items: start;
  padding: 10px;
}

.p-selection{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spa-v{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vue{
  display: flex;
  align-items: center;
  height: 20%;

}

.p-dialog-header {
  justify-content: center;
  text-align: center;
}

.vue_general {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.chart_2 {
  display: flex;
  width: 100%;
  height: 100%;
}

.chart_1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}


.chart_scpi_name {
  width: 50%;
}

.data_info {
  border: 1px solid #3d49da;
  border-radius: 4px;
  box-shadow: #a8a0a0;
  margin: 8px auto; /* Centrer horizontalement */
  width: 80%;
  text-align: center; /* Centrer le texte */
}
