<div class="global_container">

  <div class="scpi-component">
    <div class="header">
      <h2 class="title">
        {{ title }}
      <span class="edit-icon">
          <i (click)="showEditDialog()" class="fa fa-pencil"></i>
        </span>
    </h2>
    <button (click)="showScpiDialog()" class="add-button">
      Ajouter une SCPI
      <span class="plus-icon">+</span>
    </button>
  </div>

  <div class="content_simulation">
    <div class="portfolio-options">
      <span class="spa-v p-2">Voir avec mon portefeuille actuel</span>
      <div class="p-selection">
          <p-toggleButton
                  [(ngModel)]="includeActualPort"
                  [style]="{height:'30px','background-color': includeActualPort ? 'rgba(23,200,23,0.75)' : 'white'}"
                  onLabel="Oui"
                  offLabel="Non" />
      </div>
    </div>
  </div>

    </div>

    <div class="dialog">
        <p-dialog [(visible)]="EditDialogvisible" [modal]="true" [style]="{ width: '25rem' }" header="Titre">
            <form (ngSubmit)="editTitle($event)" class="flex flex-column gap-3 mb-3">
                <input #titleInput autocomplete="off" class="flex-auto" pInputText/>
                <div class="flex justify-content-end gap-2">
                    <p-button label="Save" type="submit"></p-button>
                </div>
            </form>
        </p-dialog>
    </div>

  <div class="dialog">
    <p-dialog
      [(visible)]="selectScpiDialogVisible"
      [modal]="true"
      [draggable]="false"
      [style]="{ height:'90%',width: '90%', } "
      header="Ajouter une scpi">
      <div>
        <app-scpi
          (OnAddBtnClick)="openAddDialogForm($event)"
          [fromWhere]="'simulation'"
        ></app-scpi>
      </div>
    </p-dialog>
  </div>

  <div class="dialog">
    <p-dialog
      [showHeader]="true"
      [closable]="true"
      [closeOnEscape]="true"
      [dismissableMask]="true"
      [(visible)]="scpiSimulationFormDialogVisible"
      [modal]="true"
      [style]="{ height:'100%',width: '60%', } ">
      <div>
        <app-add-simulation-form
          [scpiDetails]="scpiDetail!"
          [scpi]="scpi!"
          [investmentToModify]="investmentToModify!"
          [formModification]="scpiSimulationFormDialogForModification"
          (onCloseForm)="closeScpiFormDialog($event)"
          (onAddScpi)="addSimulatedScpi($event)"
          (onModifyScpi)="modifyInvestment($event)"
        ></app-add-simulation-form>
      </div>
    </p-dialog>
  </div>

  <div class="simulation_charts" *ngIf="simulatedScpiList.length > 0"style="width:100%">
    <app-scpi-detail-simulation></app-scpi-detail-simulation>
  </div>

  <div class="details"  *ngIf="simulatedScpiList.length > 0">
    <p style="font-weight: 700; font-size: 28px; margin: 24px 24px">Détails</p>
    <app-scpi-simulation class="details-item" *ngFor="let scpi of simulatedScpiList"
                          [simulatedScpi]="scpi"
                         (onClickOnDeleteEvent)="deleteScpiSimulation($event)"
                         (onClickOnModifyEvent)="openModifyScpiDialog($event)"
    ></app-scpi-simulation>
  </div>

  <div class="performance" *ngIf="simulatedScpiList.length > 0">
    <p style="font-weight: 700; font-size: 28px; margin: 24px 24px">Performances Futures</p>
    <app-scpi-performance-simulation [perfomanceCharts]="futureIncomesEveryYear"
                                     [futureIncomesEveryFiveYears]="futureIncomesEveryFiveYears"
    ></app-scpi-performance-simulation>
  </div>

</div>

