<div class="container">
    <!-- Bouton Simulateur -->
    <button pButton type="button" label="Simulateur" icon="pi pi-pencil" class="p-button-primary"></button>
  
    <!-- Bouton Ajout SCPI -->
    <button pButton type="button" label="+ Ajout SCPI" icon="pi pi-plus" class="p-button-success"></button>
  
    <!-- Toggle Switch avec texte aligné -->
    <div class="input-switch-container">
        <p>Voir avec mon portefeuille actuel</p>
        <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
</div>