.dropdown-toggle {
  display: flex;
  align-items: end;
  justify-content: center;

}

img{
  height: 10px;
  margin-right: 5px;
}

.nc-icon {
  display: flex;
  align-items: center;
  line-height: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.navbar-form {
  margin-right: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

input.form-control {
  margin-top: 20px;
  color: black;
}

input.form-control::placeholder {
  color: gray;
  opacity: 1;
}

.nc-zoom-split{
  margin-bottom: -15px;
}
.navbar .navbar-nav .notification {
  position: absolute;
  background-color: #FB404B;
  text-align: center;
  border-radius: 10px;
  min-width: 18px;
  padding: 0 5px;
  height: 18px;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 18px;
  top: 7px;
  left: 28px;
}

.profile {
  display: flex;
  align-items: center;
}

.photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.username-text{
  display: flex;
}
p {
  font-size: 16px;
  position: relative;
  transform: translate(0,50%);

}

.navbar .nav-item {
  position: relative;
}

.navbar .nav-item .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown-menu {
  right: auto;
  left: 0;
}






