<div class="card-container">
        <div class="investment-card" >
            <div class="card-header">
              <img src="scpi-img/{{scpi?.image}}.png" alt="Image" class="card-image">
                <h3 class="card-title">{{scpi?.name}}</h3>
                <div class="card-rating">⭐⭐⭐⭐⭐ 31 notes</div>
            </div>
            <div class="card-body">
                <div class="card-category">{{scpi?.sector}}</div>
                <div class="card-location">
                    <img src="img/flags/{{getCountryCode(scpi?.localization!) }}.png" alt="France/Europe"> {{scpi?.localization}}
                </div>
                <div class="card-details">
                    <span class="card-yield">{{scpi?.lastYearDistributionRate}} %</span>
                    <span class="card-minimum">{{scpi?.minimumSubscription}} € Minimum</span>
                </div>
            </div>
            <div *ngIf="fromWhere!=='form'; else none" class="card-footer">
                <button class="card-btn" (click)="showScpiDetails(scpi)">Détails</button>
                <button *ngIf="fromWhere==='simulation'; else investButton" (click)=investAddBtn(scpi)  class="card-btn invest">Ajouter</button>
                <ng-template #investButton>
                    <button *ngIf="fromWhere==='invest'; else none" class="card-btn invest" (click)=investAddBtn(scpi) >Investir</button>
                </ng-template>
            </div>

            <ng-template #none></ng-template>

        </div>
    </div>
