.card-l {
  background: #fff;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  min-width: 125px;
  width:250px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color:white;
  border:none;
}

.card-body {
  margin: 10px 0;
}

.card-value {
  font-size: 1.8rem;
  font-weight: bold;
}





.blue { color: #1E90FF; }
.red { color: #FF6347; }
.orange { color: #FFA500; }
.green { color: #32CD32; }
