<div class="vue_general">
  <div class="chart_1">
    <div class="data">
      <div class="data_row">
        <div class="data_info">
          <p style="font-weight: 700">Valeur total</p>
          <p style="font-weight: 900;color:#1E90FF">{{totalValue}} €</p>
        </div>
        <div class="data_info">
          <p style="font-weight: 700">Cashback</p>
          <p style="font-weight: 900;color:#FF6347">{{totalCashback}} €</p>
        </div>
        <div class="data_info">
          <p style="font-weight: 700">Montant Investi</p>
          <p style="font-weight: 900;color:#FFA500">{{ totalInvested }} €</p>
        </div>
      </div>

      <div class="data_row">
        <div class="data_info">
          <p style="font-weight: 700">Revenus</p>
          <p style="font-weight: 900;color:#32CD32">{{ totalMonthlyIncomes | number : '1.2-2' }} €/mois</p>
        </div>
        <div class="data_info">
          <p style="font-weight: 700">Impôts</p>
          <p style="font-weight: 900;color:#33cd8d">{{ tax | number : '1.2-2' }} €/mois</p>
        </div>
        <div class="data_info">
          <p style="font-weight: 700">Revenus après IR</p>
          <p style="font-weight: 900;color:#fad902">{{ monthlyIncomeAfterTax | number : '1.2-2' }} €/mois</p>
        </div>
      </div>
    </div>

    <div class="chart_scpi_name">
      <p-chart [data]="data_chart_name" [options]="options_chart_name" [width]="'300'" type="doughnut"/>
    </div>
  </div>
  <div class="chart_2" style="align-content: space-between">
    <div class="chart_scpi_pays">
      <p-chart [data]="data_chart_country" [options]="options_chart_country" [width]="'300'" type="doughnut"/>

    </div>
    <div class="chart_scpi_secteur">
      <p-chart [data]="data_chart_sector" [options]="options_chart_sector" [width]="'300'" type="doughnut"/>
    </div>
  </div>
</div>


