<div class="pricing-container">

  <div class="pricing-card">
    <div class="icon">🐣</div>
    <h3>Essential</h3>
    <p class="description">
      Conçu pour les investisseurs ponctuels, avec un projet de reprise confirmé OU qui souhaitent se former.
    </p>
    <p class="features">
      Accédez chaque semaine aux nouvelles SCPI
    </p>
    <p class="price">GRATUIT</p>
    <p class="annual-price">0 HT / AN</p>
    <button
      [disabled]="!isPremium"
      [ngClass]="{ 'disabled-button': !isPremium }"
      (click)="onChangePlan('ROLE_ESSENTIAL')" class="subscribe-button">Je m'abonne</button>
  </div>

  <div class="pricing-card">
    <div class="icon">🐥</div>
    <h3>Premium</h3>
    <p class="description">
      Idéal pour les investisseurs stratégiques & réguliers qui ne veulent manquer aucune pépite !
    </p>
    <p class="features">
      Débloquez les meilleures SCPI 72h avant tout le monde et bénéficiez d'outils puissants de Simulation et de Comparaison.
    </p>
    <p class="price">12,99€ HT/SEMAINE</p>
    <p class="annual-price">155,88€ HT / AN</p>
    <button
      [disabled]="isPremium"
      [ngClass]="{ 'disabled-button': isPremium }"
      (click)="onChangePlan('ROLE_PREMIUM')" class="subscribe-button">Je m'abonne</button>
  </div>
</div>


<div class="comparison-table-container">
  <h2>Comparez nos offres et choisissez la plus adaptée à votre projet.</h2>
  <table class="comparison-table">
    <thead>
    <tr>
      <th></th>
      <th>🐣 Essential</th>
      <th>🐥 Premium</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feature of fonctionality">
      <td style="text-align: left;">{{feature.description}}</td>
      <td>
        <span *ngIf="feature.standard" class="check">&#10003;</span>
        <span *ngIf="!feature.standard" class="cross">&#10007;</span>
      </td>
      <td>
        <span *ngIf="feature.premium" class="check">&#10003;️</span>
        <span *ngIf="!feature.premium" class="cross">&#10007;</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
