.global_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.global_top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 400px;
  /*border: 1px solid red;*/
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}

.select_scpi {
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*border:1px solid black;*/
  width: 100%;
}

.versement_time {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.versement_line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.versement_amount_text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  /*border: 1px solid grey;*/
  color: white;
  width: 80px;
  height: 30px;
  background-color: #2c86ff;
}

.btn_condition {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  align-content:start;
  width: 100%;
  margin-top: 34px;

}
.condition_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 60%;
}

.btn_confirmation{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.btn_confirmation{
  border-radius:16px;
}



@media screen and (min-width: 2500px) {
  .global_container {
    width: 60%;
  }

  .global_top {
    width: 30%;
  }

  .select_scpi {
    /*flex-direction: column;*/
  }

  .versement_time {
    width: 30%;
  }

  .condition_content {
    width: 30%;
  }
}

@media screen and (min-width: 1800px) {
  .global_container {
    width: 100%;
  }

  .global_top {
    width: 60%;
  }

  .versement_time {
    width: 60%;
  }

  .condition_content {
    width: 60%;
  }
}


@media screen and (max-width: 1200px) {
  .global_container {
    flex-wrap: wrap;
    width: 60%;
  }

  .global_top {
    width: 100%;
  }

  .select_scpi {
    flex-direction: column;
  }

  .versement_time {
    width: 100%;
  }

  .condition_content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .global_container {
    width: 100%;
    padding: 16px;
  }

  .global_top {
    width: 100%;
  }

  .select_scpi {
    flex-direction: column;
  }

  .versement_time {
    width: 100%;
  }

  .condition_content {
    flex-direction: column;
    width: 100%;
  }

  .btn_condition {
    margin-top: 20px;
  }
}

