<div class="global_container">

    <div class="component">
        <app-scpi-item
                [fromWhere]="'form'"
                [scpi]="scpi!"
        ></app-scpi-item>
    </div>

    <div class="form_container">
        <h2 class="title">{{ scpi.name }}</h2>
        <div class="desc">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
            </p>
        </div>

        <div>
          <label class="type_property block font-bold mb-2" for="selector_detector">Type de propriété </label>
          <p-dropdown
                [(ngModel)]="simulatedScpi.selectedProperty"
                [options]="properties"
                [style]="{width: '24rem'}"
                id="selector_detector"
                optionLabel="propertyLabel"
                placeholder="{{simulatedScpi.selectedProperty.propertyLabel}}"/>
        </div>


      <div *ngIf="simulatedScpi.selectedProperty.type === property_type.NUE_PROPRIETE;">
        <label class="type_property block font-bold mb-2" for="nue_propriete_dropdown">Durée</label>
        <p-dropdown
          [(ngModel)]="selectedStrip"
          [options]="stripping"
          [style]="{width: '24rem'}"
          id="nue_propriete_dropdown"
          optionLabel="stipLabel"
          placeholder="{{selectedStrip.stipLabel}}"/>
      </div>

        <div class="flex flex-row flex-wrap">
            <div class="montant pr-4">
                <label class="block font-bold mb-2" for="currency-europe">
                    Montant total
                </label>
                <p-inputNumber
                        [(ngModel)]="simulatedScpi.totalInvest"
                        currency="EUR"
                        id="currency-europe"
                        inputId="currency-germany"
                        locale="de-DE"
                        mode="currency"
                        readonly/>
            </div>

            <div class="step flex flex-column">
                <label class="mb-2 block font-bold" for="horizontal">
                    Nombre de parts
                </label>
                <p-inputNumber
                        [(ngModel)]="simulatedScpi.partNb"
                        [showButtons]="true"
                        [step]="1"
                        [min]="1"
                        buttonLayout="horizontal"
                        decrementButtonClass="null"
                        decrementButtonIcon="pi pi-minus"
                        id="horizontal"
                        incrementButtonClass="null"
                        incrementButtonIcon="pi pi-plus"
                        inputId="horizontal"
                        mode="decimal"
                        spinnerMode="horizontal"/>
            </div>

        </div>

        <div class="rendement">
            <h4 class="rendement_title">
                Votre revenu sur cet investissement
            </h4>
            <p class="rendement_text">
                {{ calculateRevenus(simulatedScpi.partNb) }} €/mois
            </p>

        </div>

        <div class="card_footer">
            <button (click)="onCancelBtnClick()" class="cancel_btn">
                <i class="pi pi-arrow-left pr-2"></i>
                Annuler la sélection
            </button>
            <button class="add-button" (click)="onAddSimulatedScpi()">
                Ajouter a ma simulation
                <span class="plus-icon">+</span>
            </button>

        </div>
    </div>

</div>
