.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin: 0;  /* Enlève les marges par défaut */
  text-align: center;
}
