<div class="global_container">
  <div class="search_zone">

    <p-iconField [style]="{width:'60%','margin-right':'60px'}" iconPosition="left">
      <p-inputIcon [style]="{width:'60%'}" styleClass="pi pi-search"/>
      <input (input)="onSearchInputChange($event)"
             class="search_input"
             style="width:100%;border-radius: 40px"
             pInputText placeholder="Search" type="text"/>
    </p-iconField>

   <div class="btn-container">
     <button (click)="showFilter()" class="btn">
       <i class="pi pi-sliders-h" style="margin-right: 8px"></i>
       Filter
     </button>
   </div>
    <app-multicriteria-search
      [sidebarVisible]="filterVisible"
      (filter)="search($event)"
      [onSimulation]="fromWhere==='simulation'"
      (onDialogHide)="onDialogHide()"
    ></app-multicriteria-search>

  </div>
  <div class="scpi-container">
    <div *ngFor="let item of scpiListData" class="scpi-item-container">
      <app-scpi-item
        (onInvestAddClick)="investirFunction($event)"
        (onShowDetailClick)="showScpiDetail($event)"
        [fromWhere]="fromWhere"
        [scpi]="item"
      ></app-scpi-item>
    </div>

    <div *ngIf="selectedScpi?.name!=null">
      <p-dialog
        [(visible)]="showFormDialog"
        [closable]="true"
        [closeOnEscape]="true"
        [dismissableMask]="true"
        [modal]="true"
        [showHeader]="false"
        [style]="{ height:'100%',width: '60%' }">
        <div>
          <p-stepper [linear]="true">
            <p-stepperPanel class="header-pan" header="Investissement">
              <ng-template let-nextCallback="nextCallback" pTemplate="content">
                <app-add-simulation-form
                  (onCloseForm)="closeScpiFormDialog($event)"
                  (onInvest)="confirmInevst($event,nextCallback)"
                  [fromInvest]=true
                  [scpiDetails]="this.scpiDetails!"
                  [scpi]="selectedScpi!"
                ></app-add-simulation-form>
              </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Confirmation du virement">


              <ng-template #bankInfo let-prevCallback="prevCallback" pTemplate="content">
                <div class="investment-container">
                  <div class="investment-info">
                    <h3>Finaliser l'investissement SCPI</h3>
                    <p>Pour finaliser votre investissement, merci de procéder au virement du montant indiqué vers l'IBAN
                      fourni dans les plus brefs délais.</p>
                  </div>

                  <div class="investment-form">
                    <div class="form-group">
                      <label for="iban">IBAN</label>
                      <input id="iban" readonly type="text" value="{{bankInformation?.iban}}"/>
                    </div>

                    <div class="form-group">
                      <label for="bic">BIC</label>
                      <input id="bic" readonly type="text" value="{{bankInformation?.bic}}"/>
                    </div>

                    <div class="form-group">
                      <label for="total-amount">Montant total d'investissement</label>
                      <input id="total-amount" readonly type="text" value="{{bankInformation?.total}}"/>
                    </div>

                    <div class="form-group">
                      <label for="transfer-reason">Motif de virement</label>
                      <input id="transfer-reason" readonly
                             type="text" value="{{bankInformation?.label}}"/>
                    </div>
                  </div>
                </div>

                <div class="email-confirmation">
                  <p>
                    Un mail avec toutes les informations vous a été envoyé sur cette adresse mail :
                    <span class="email">{{ email }}</span>
                  </p>
                </div>

                <div style="display:flex; align-items: center;justify-content: center;margin-top: 16px">
                  <button (click)="closeScpiFormDialog(false,prevCallback)" class="close_dial_btn">Confirm</button>

                </div>
              </ng-template>
            </p-stepperPanel>
          </p-stepper>

        </div>

      </p-dialog>
    </div>

  </div>
</div>
