.global_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_zone{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.search_bar{
  display: flex;
  align-content: center;
  width: 100%;
}

.multi-criteria{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content:center;
  align-items: flex-end;
  margin: 24px;
}

.scpi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.scpi-item-container {
  flex: 1 1 23%;
  margin: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .scpi-item-container {
    flex: 1 1 48%;
  }
}

@media screen and (max-width: 768px) {
  .scpi-item-container {
    flex: 1 1 100%;
  }
}
