<div class="credit-simulator">
  <div class="left-panel">
    <h3 class="title">Évolution des annuités du crédit</h3>
    <br>
    <p-table [value]="annuityData" class="custom-table">
      <ng-template pTemplate="header">
        <tr>
          <th>Année</th>
          <th>Revenu</th>
          <th>Mensualité</th>
          <th>Capital</th>
          <th>Intérêts d'emprunt</th>
          <th>Imposition</th>
          <th>Effort d'épargne</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ rowData.year }}</td>
          <td class="amount negative-effort">{{ rowData.annualIncome | currency: 'EUR' }}</td>
          <td class="amount">{{ rowData.monthlyPayment | currency: 'EUR' }}</td>
          <td class="amount">{{ rowData.capitalAmortization | currency: 'EUR' }}</td>
          <td class="amount">{{ rowData.loanInterest | currency: 'EUR' }}</td>
          <td class="amount">{{ rowData.tax | currency: 'EUR' }}</td>
          <td [ngClass]="{'positive-effort': rowData.savingEffort > 0, 'negative-effort': rowData.savingEffort <= 0}">
            {{ rowData.savingEffort | currency: 'EUR' }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="right-panel">
    <div class="centered-card">
      <p-card header="Votre financement" class="financing-card">

        <div class="form-group">
          <label>Montant emprunté</label>
          <div class="slider-value">{{ loanAmount | currency: 'EUR' }}</div>
          <p-slider [(ngModel)]="loanAmount" (ngModelChange)="calculateAnnuities()" [min]="0" [max]="500000" class="custom-slider"></p-slider>
        </div>


        <div class="form-group">
          <label>Apport personnel</label>
          <div class="slider-value">{{ personalContribution | currency: 'EUR' }}</div>
          <p-slider [(ngModel)]="personalContribution" (ngModelChange)="calculateAnnuities()" [min]="0" [max]="50000" class="custom-slider"></p-slider>
        </div>


        <div class="form-group">
          <label>Durée</label>
          <div class="slider-value">{{ loanDuration }} ans</div>
          <p-slider [(ngModel)]="loanDuration" (ngModelChange)="calculateAnnuities()" [min]="5" [max]="30" class="custom-slider"></p-slider>
        </div>


        <div class="form-group">
          <label>Taux d'emprunt</label>
          <div class="slider-value">{{ interestRate }}%</div>
          <p-slider [(ngModel)]="interestRate" (ngModelChange)="calculateAnnuities()" [min]="0" [max]="10" step="0.1" class="custom-slider"></p-slider>
        </div>


        <div class="form-group">
          <label>Rendement brut SCPI</label>
          <div class="slider-value">{{ scpiYield }}%</div>
          <p-slider [(ngModel)]="scpiYield" (ngModelChange)="calculateAnnuities()" [min]="0" [max]="10" step="0.1" class="custom-slider"></p-slider>
        </div>


        <div class="form-group">
          <label>Type de SCPI</label>
          <p-dropdown [options]="scpiTypes" [(ngModel)]="selectedScpiType" (onChange)="calculateAnnuities()" placeholder="Sélectionner un type"></p-dropdown>
        </div>


        <div class="form-group">
          <label>TMI</label>
          <p-dropdown [options]="tmiOptions" [(ngModel)]="selectedTmi" (onChange)="calculateAnnuities()" placeholder="Sélectionner un TMI"></p-dropdown>
        </div>


        <div class="form-group">
          <label>Taux Moyen</label>
          <p-inputNumber [(ngModel)]="customAverageRate" placeholder="Saisir un taux moyen" (onInput)="calculateAnnuities()"></p-inputNumber>
        </div>
      </p-card>
    </div>
  </div>
</div>
