.credit-simulator {
  padding: 2rem;
}

.tab-content {
  display: flex;
  gap: 2rem;
}

.left-panel {
  flex: 3;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
}

.title {
  text-align: center;
  color: #2a76d2;
  font-weight: bold;
}

.centered-card {
  width: 100%;
  margin-top: -20px;
}

.financing-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.slider-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2a76d2;
  margin-bottom: 0.5rem;
}

.positive-effort {
  color: red;
  font-weight: bold;
}

.negative-effort {
  color: green;
  font-weight: bold;
}

.totals-row {
  font-weight: bold;
  border-top: 2px solid #333;
  background-color: #f5f5f5;
}

.separator-row {
  border-top: 2px solid #333;
}

::ng-deep .centered-tabview .p-tabview-nav {
  justify-content: center;
  position: relative;
  right: 30px;
}

::ng-deep .custom-tabview .p-tabview-nav li {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 8px;
  transition: box-shadow 0.3s ease;
}

::ng-deep .custom-tabview .p-tabview-nav li.p-highlight {
  box-shadow: 0px 4px 15px #1D62F0;
}

::ng-deep .custom-tabview .p-tabview-nav li:hover {
  box-shadow: 0px 4px 15px #1D62F0;
}

::ng-deep .custom-tabview .p-tabview-nav .p-tabview-title {
  color: black !important;
  font-weight: bold;
}

/* Styliser les menus déroulants pour les afficher en vertical */
.vertical-dropdown label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.vertical-dropdown p-dropdown {
  display: block;
  width: 100%;
}





