<div class="sidebar" data-color="blue" data-image="img/sidebar-4.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text logo-normal" style="font-size: x-large">
        {{ appDetails?.applicationName}}
        <br>
        <span>v{{ appDetails?.applicationVersion }}</span>
        <br>
        <br>
        <span *ngIf="appDetails?.environment != 'prd'">env : {{ appDetails?.environment }} </span>
      </a>
    </div>
<div style="margin-top:40%">
</div>
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" class="nav-item">
        <a *ngIf="DisplayFeatureForConnectedUser(menuItem.feature)" class="nav-link" [routerLink]="menuItem.path">
          <i class="{{menuItem.icon}}"></i>
          <p>{{menuItem.key | translate }}</p>
        </a>
      </li>
      <li  class="nav-item">
        <a  class="nav-link" [routerLink]="'plans'">
          <i class="pi pi-crown"></i>
          <p>Mes Abonnements</p>
        </a>
      </li>
    </ul>
  </div>
</div>
