<div class="sidebar" data-color="red" data-image="img/sidebar-4.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      </a>
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        SCPI INVEST + <br>
        <span style="margin-left: 15%">v. {{ version }}</span>
      </a>
    </div>
    <div class="user">
      <div class="photo">
        <img src="img/default-avatar.png"/>
      </div>
      <div class="info ">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>HI TECH ACADEMY
                                <b class="caret"></b>
                            </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li>
              <a class="profile-dropdown" href="#pablo">
                <span class="sidebar-mini">MP</span>
                <span class="sidebar-normal">My Profile</span>
              </a>
            </li>
            <li>
              <a class="profile-dropdown" href="#pablo">
                <span class="sidebar-mini">EP</span>
                <span class="sidebar-normal">Edit Profile</span>
              </a>
            </li>
            <li>
              <a class="profile-dropdown" href="#pablo">
                <span class="sidebar-mini">S</span>
                <span class="sidebar-normal">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li *ngFor="let menuItem of menuItems" class="nav-item">
        <a class="nav-link" [routerLink]="menuItem.path">
          <i class="{{menuItem.icon}}"></i>
          <p>{{menuItem.key | translate }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
